.local-video {
  background: #fff; }

.page {
  overflow: hidden; }
  .page_last {
    padding-bottom: 75px; }
    @media screen and (max-width: 992px) {
      .page_last {
        padding-bottom: 50px; } }
    @media screen and (max-width: 767px) {
      .page_last {
        padding-bottom: 20px; } }
  .page .mentor-image {
    position: absolute;
    bottom: 0;
    right: -40px;
    max-width: 570px; }
    @media screen and (max-width: 1500px) {
      .page .mentor-image {
        right: -100px; } }
    @media screen and (max-width: 1400px) {
      .page .mentor-image {
        max-width: 500px; } }
    @media screen and (max-width: 1300px) {
      .page .mentor-image {
        right: -125px; } }
    @media screen and (max-width: 1199px) {
      .page .mentor-image {
        display: none; } }
  .page .page-lines {
    left: -15px;
    top: 100px;
    right: auto;
    bottom: auto;
    position: absolute;
    height: 131px;
    overflow: hidden;
    z-index: 0; }
    @media screen and (max-width: 1605px) {
      .page .page-lines {
        display: none; } }

.page-container {
  max-width: 1530px;
  margin: auto;
  padding: 0 50px; }
  @media screen and (max-width: 900px) {
    .page-container {
      padding: 0 25px; } }
  @media screen and (max-width: 767px) {
    .page-container {
      padding: 0 1rem; } }
  .page-container .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px; }
    .page-container .location .location-logo {
      width: 130px; }
      @media screen and (max-width: 1199px) {
        .page-container .location .location-logo {
          width: 100px;
          height: auto; } }
      .page-container .location .location-logo img {
        width: 100%; }
    .page-container .location__back {
      font-size: 20px;
      font-family: "Oswald-Regular", sans-serif;
      color: #ee2f2a;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      text-transform: uppercase; }
      .page-container .location__back:hover {
        color: #ee2f2a;
        opacity: 0.6;
        text-decoration: none; }
      .page-container .location__back img {
        margin-right: 1rem; }
        @media screen and (max-width: 767px) {
          .page-container .location__back img {
            width: 5px; } }
      @media screen and (max-width: 767px) {
        .page-container .location__back {
          font-size: 14px; } }
  .page-container .video-part-wrapper {
    width: 70%; }
    @media screen and (max-width: 1199px) {
      .page-container .video-part-wrapper {
        width: 100%; } }
  .page-container .video-part__title {
    line-height: 1; }
    .page-container .video-part__title_normal {
      display: inline-block;
      font-size: 50px;
      font-family: "Oswald-Light", sans-serif;
      color: #292929;
      margin-left: 1rem;
      text-transform: uppercase; }
      @media screen and (max-width: 1300px) {
        .page-container .video-part__title_normal {
          font-size: 40px; } }
      @media screen and (max-width: 767px) {
        .page-container .video-part__title_normal {
          font-size: 30px;
          margin-left: 0; } }
      @media screen and (max-width: 520px) {
        .page-container .video-part__title_normal {
          display: block;
          margin-top: 0.25rem; } }
    .page-container .video-part__title_bold {
      display: inline-block;
      font-size: 50px;
      font-family: "Oswald-Bold", sans-serif;
      color: #292929;
      font-weight: bold;
      text-transform: uppercase; }
      @media screen and (max-width: 1300px) {
        .page-container .video-part__title_bold {
          font-size: 40px; } }
      @media screen and (max-width: 767px) {
        .page-container .video-part__title_bold {
          font-size: 30px; } }
      @media screen and (max-width: 520px) {
        .page-container .video-part__title_bold {
          display: block; } }
  .page-container .video-part .video-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 80px; }
    @media screen and (max-width: 900px) {
      .page-container .video-part .video-list {
        margin-top: 35px; } }
    .page-container .video-part .video-list__item {
      border: 1px solid #e7e7e7;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 32%;
              flex: 0 0 32%;
      max-width: 32%;
      margin-bottom: 2%; }
      .page-container .video-part .video-list__item:nth-of-type(3n-1) {
        margin: 0 2%; }
      @media screen and (max-width: 767px) {
        .page-container .video-part .video-list__item {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 49%;
                  flex: 0 0 49%;
          max-width: 49%; }
          .page-container .video-part .video-list__item:nth-of-type(3n-1) {
            margin-left: unset;
            margin-right: unset;
            margin-bottom: 2%; }
          .page-container .video-part .video-list__item:nth-of-type(odd) {
            margin-right: 1%; }
          .page-container .video-part .video-list__item:nth-of-type(even) {
            margin-left: 1%; } }
      @media screen and (max-width: 650px) {
        .page-container .video-part .video-list__item {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 100%;
                  flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 1.5rem; }
          .page-container .video-part .video-list__item:nth-of-type(3n-1) {
            margin-bottom: 1.5rem; }
          .page-container .video-part .video-list__item:nth-of-type(odd) {
            margin-right: unset; }
          .page-container .video-part .video-list__item:nth-of-type(even) {
            margin-left: unset; } }
    .page-container .video-part .video-list__description {
      text-align: center; }
  .page-container .video-part .video-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 25px; }
    @media screen and (max-width: 767px) {
      .page-container .video-part .video-pagination {
        margin-top: 0; } }
    .page-container .video-part .video-pagination__link {
      max-width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 13.371px;
      font-family: "Oswald-Regular", sans-serif;
      color: #292929;
      padding: 0.5rem; }
      .page-container .video-part .video-pagination__link.active {
        background-color: #ee2f2a;
        color: #fff; }
      .page-container .video-part .video-pagination__link:hover {
        background-color: #ee2f2a;
        color: #ffffff;
        text-decoration: none; }
    .page-container .video-part .video-pagination__item {
      cursor: pointer;
      width: 30px;
      height: 30px;
      margin: 1rem; }
      .page-container .video-part .video-pagination__item.arrow:hover .video-pagination__link {
        background-color: #fff;
        color: unset; }
      .page-container .video-part .video-pagination__item.arrow-right img {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
      @media screen and (max-width: 767px) {
        .page-container .video-part .video-pagination__item {
          margin: 0.5rem; } }

.description {
  padding: 1rem; }
  .description__name {
    color: #292929;
    font-size: 15.361px;
    font-family: "Oswald-Regular", sans-serif;
    text-transform: uppercase; }
  .description__address {
    font-size: 14px;
    font-family: "Oswald-Light", sans-serif;
    color: #8e8e8e; }
