.header .header-container {
  max-width: 1530px;
  margin: auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.header .header-helper {
  -ms-flex-preferred-size: 165px;
      flex-basis: 165px;
  max-width: 165px; }

.header .header-logo {
  padding: 3rem 0; }
  .header .header-logo img {
    width: 165px;
    height: 107px; }

.header .header-lines img {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.lines {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  height: 202px; }
  .lines img {
    width: 278px;
    height: 202px; }

.top .top-container {
  max-width: 1530px;
  margin: auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.top .top-description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center; }
  .top .top-description span {
    display: block; }
  .top .top-description__image {
    margin: 90px 0; }
  .top .top-description .lines {
    margin: 90px 0 60px; }

.top__text {
  font-size: 32px;
  font-family: "Oswald-Light", sans-serif;
  color: #010101;
  line-height: 0.811; }
  .top__text_bold_red {
    color: #ee2f2a;
    font-family: "Oswald-Medium", sans-serif;
    font-size: 120px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 4.7px;
    text-transform: uppercase; }
  .top__text_date {
    font-size: 43px;
    font-family: "Oswald-Light", sans-serif;
    letter-spacing: 3px;
    line-height: 1;
    margin-top: 0.5rem;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .top__text_separator {
    background-color: #ee2f2a;
    display: inline-block;
    margin: 0 1rem;
    width: 3px;
    height: 39px; }

.dance {
  background-color: #ee2f2a; }
  .dance .dance-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .dance__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    min-height: 757px; }
    .dance__left .dance-image {
      position: absolute;
      bottom: 0;
      left: -37px; }
  .dance__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    min-height: 757px;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .dance__attention {
    font-size: 34px;
    font-family: "Oswald-Regular", sans-serif;
    color: #fff;
    line-height: 1;
    margin-top: 52.5px;
    text-transform: uppercase; }
  .dance__title_big {
    color: #fff;
    display: block;
    font-family: "Oswald-Medium", sans-serif;
    font-size: 140px;
    line-height: 1;
    text-transform: uppercase; }
  .dance__title_normal {
    color: #fff;
    display: block;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 54px;
    text-transform: uppercase; }
  .dance__text_mini {
    color: #fff;
    display: block;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 20px;
    margin-bottom: 1rem; }

.information {
  padding-top: 130px; }
  .information-second {
    padding-top: 100px; }
  .information .information-lines_rotate {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: rotate(90deg) translateX(-50%);
        -ms-transform: rotate(90deg) translateX(-50%);
            transform: rotate(90deg) translateX(-50%);
    width: 202px; }
  .information .information-face {
    position: absolute;
    bottom: 0;
    left: -7.5%; }
  .information .information-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 1rem; }
  .information .information-list__item .information-text {
    background: url("../img/ellipse.png") no-repeat 0 center;
    margin: 0 auto 60px;
    max-width: 90%;
    padding-left: 90px; }
    .information .information-list__item .information-text_normal {
      display: block;
      font-size: 30px;
      font-family: "Oswald-Regular", sans-serif;
      line-height: 1.5;
      color: #292929; }
    .information .information-list__item .information-text_big {
      display: block;
      font-size: 45px;
      font-family: "Oswald-Regular", sans-serif;
      color: #ee2f2a;
      letter-spacing: 15px;
      line-height: 1.5;
      margin-top: 1.5rem;
      text-transform: uppercase; }
  .information .information-list__item:last-child .information-text {
    background: none;
    margin-bottom: 0; }
  .information .information-question {
    font-size: 31px;
    font-family: "Oswald-Light", sans-serif;
    color: #292929;
    margin-bottom: 0;
    text-align: center; }
    .information .information-question:nth-of-type(1) {
      margin-top: 100px; }
  .information .information-stars__text {
    color: #ee2f2a;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 50px;
    max-width: 80%;
    margin: 50px auto;
    text-align: center;
    text-transform: uppercase; }
  .information .information-stars .stars {
    text-align: center; }
    .information .information-stars .stars img {
      margin: 0 1rem; }

.video {
  padding: 70px 1rem; }
  .video .video-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .video .video-lines {
    height: 144px;
    overflow: hidden; }
  .video .video-item {
    margin-top: 50px; }
    .video .video-item .embed-responsive {
      max-width: 992px;
      margin: auto; }
  .video__title {
    text-align: center; }
    .video__title_big {
      color: #292929;
      font-family: "Oswald-Regular", sans-serif;
      font-size: 40px;
      text-transform: uppercase; }
    .video__title_normal {
      color: #292929;
      font-family: "Oswald-Regular", sans-serif;
      font-size: 30px; }
      .video__title_normal_red {
        font-family: "Oswald-Regular", sans-serif;
        font-size: 30px;
        color: #ee2f2a;
        letter-spacing: 5px; }

.mentors {
  background-color: #ee2f2a;
  padding-bottom: 47px; }
  .mentors .mentors-container {
    max-width: 1350px;
    margin: auto;
    padding: 0 1rem; }
  .mentors__title {
    color: #fff;
    font-size: 110px;
    font-family: "Oswald-SemiBold", sans-serif;
    float: left;
    line-height: 1;
    margin: 70px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
  .mentors .mentors-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .mentors .mentors-list__image {
      cursor: pointer;
      border-radius: 50%;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .mentors .mentors-list__image:hover {
        -webkit-box-shadow: 0px 18px 18px 0px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 18px 18px 0px rgba(0, 0, 0, 0.3); }
    .mentors .mentors-list__name {
      color: #fff;
      font-family: "Oswald-Medium", sans-serif;
      font-size: 22px;
      margin-top: 1.25rem;
      text-align: center;
      text-transform: uppercase; }
    .mentors .mentors-list__label {
      color: #fff;
      font-family: "Oswald-Medium", sans-serif;
      font-size: 22px;
      letter-spacing: 2px;
      line-height: 1;
      margin-top: 60px;
      opacity: 0.4; }
    .mentors .mentors-list .mentors-list-inside {
      display: none; }

.mentors-data-wrapper {
  width: 1015px !important;
  padding: 100px !important; }
  .mentors-data-wrapper .fancybox-close-small {
    color: #000 !important;
    opacity: 1 !important; }

.mentors-data__name {
  color: #000;
  font-size: 50px;
  font-family: "Oswald-Medium", sans-serif;
  text-transform: uppercase; }

.mentors-data__description {
  margin-top: 30px; }
  .mentors-data__description li {
    background: url("../img/ellipse-mini.png") no-repeat 0 center;
    color: #000;
    font-size: 20px;
    font-family: "Oswald-Light", sans-serif;
    padding-left: 25px; }
  .mentors-data__description img {
    margin-right: 1rem; }

.talent .talent-lines {
  margin-top: 70px;
  margin-bottom: 20px;
  height: 144px;
  overflow: hidden; }
  .talent .talent-lines:last-child {
    margin-top: 150px;
    margin-bottom: 0; }

.talent .talent-container {
  max-width: 1530px;
  margin: auto;
  padding: 0 1rem; }

.talent__title {
  color: #292929;
  font-family: "Oswald-SemiBold", sans-serif;
  font-size: 70px;
  margin: 35px 0;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2; }

.talent .talent-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.talent__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  min-height: 850px; }
  .talent__left img {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1; }

.talent__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  min-height: 850px;
  position: relative;
  z-index: 2; }

.talent__date {
  color: #aaaaaa;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 20px; }

.talent__title_red {
  color: #ee2f2a;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 56px;
  line-height: 1.3;
  margin: 50px 0;
  max-width: 80%;
  text-transform: uppercase; }

.talent__text {
  color: #292929;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
  max-width: 68%; }

.talent__text_light {
  color: #676767;
  font-family: "Oswald-Light", sans-serif;
  font-size: 20px;
  margin-bottom: 1rem; }

.talent .talent-list__item {
  background: url("../img/ellipse-mini.png") no-repeat 0 12.5px;
  margin-bottom: 0.5rem;
  padding-left: 25px; }

.talent .talent-send {
  background-color: #ee2f2a;
  border-radius: 30px;
  color: #fff;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-top: 50px;
  padding: 1rem 3rem;
  text-transform: uppercase; }
  .talent .talent-send:hover {
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
    text-decoration: none; }

.feedback {
  background-color: #f7f7f7; }
  .feedback .feedback-lines {
    margin-bottom: 100px;
    height: 144px;
    overflow: hidden; }
  .feedback .feedback-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 1rem; }
  .feedback__title {
    color: #292929;
    font-size: 50px;
    font-family: "Oswald-Regular", sans-serif;
    max-width: 767px;
    margin: auto;
    text-align: center;
    text-transform: uppercase; }

.footer {
  background-color: #292929;
  padding: 1rem; }
  .footer .footer-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 1rem; }
  .footer .footer-list {
    color: #fff;
    margin-top: 45px;
    text-align: center; }
    .footer .footer-list__item {
      margin-bottom: 25px; }
      .footer .footer-list__item .footer-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .footer .footer-list__item .footer-social__link {
          background-color: #fff;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          margin: 0 0.5rem;
          padding: 0.5rem; }
          .footer .footer-list__item .footer-social__link:hover {
            opacity: 0.6; }
          .footer .footer-list__item .footer-social__link i {
            color: #ee2f2a;
            font-size: 24px; }
      .footer .footer-list__item a, .footer .footer-list__item span {
        color: #fff;
        display: inline-block;
        font-family: "Oswald-Regular", sans-serif;
        font-size: 14px; }
      .footer .footer-list__item a:hover {
        opacity: 0.6;
        text-decoration: none; }
      .footer .footer-list__item span {
        display: block; }
