/* FONTS */
@font-face
	font-family: 'slick'
	src: url('../fonts/fonts/slick.eot')
	src: url('../fonts/fonts/slick.woff'), url('../fonts/fonts/slick.ttf'), url('../fonts/fonts/slick.svg')
	font-weight: normal
	font-style: normal
	
	//src: url('../fonts/BebasNeueBold.otf')

@font-face
	font-family: 'PFDinText-Medium'
	src: url('../fonts/PFDinTextCompoPro/PFDinTextCompPro-Medium.otf')
	font-weight: normal
	font-style: normal
	
@font-face
	font-family: 'pfdintextcomppro-regular'
	src: url('../fonts/PFDinTextCompoPro/pfdintextcomppro-regular.ttf')
	font-weight: normal
	font-style: normal
