/* FONTS */
@font-face
	font-family: 'slick'
	src: url('../fonts/fonts/slick.eot')
	src: url('../fonts/fonts/slick.woff'), url('../fonts/fonts/slick.ttf'), url('../fonts/fonts/slick.svg')
	font-weight: normal
	font-style: normal
	
	//src: url('../fonts/BebasNeueBold.otf')

@font-face
	font-family: 'Oswald-Medium'
	src: url('../fonts/Oswald/Oswald-Medium.ttf')
	font-weight: normal
	font-style: normal
	
@font-face
	font-family: 'Oswald-Regular'
	src: url('../fonts/Oswald/Oswald-Regular.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Oswald-Light'
	src: url('../fonts/Oswald/Oswald-Light.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Oswald-Bold'
	src: url('../fonts/Oswald/Oswald-Bold.ttf')
	font-weight: normal
	font-style: normal
	
@font-face
	font-family: 'Oswald-SemiBold'
	src: url('../fonts/Oswald/Oswald-SemiBold.ttf')
	font-weight: normal
	font-style: normal
